body {
  font-family: Arial;
  margin: 0px;
}

#title {
  background-color: #00FFFF;
  padding: 8%;
  text-align: center;
}

#bar {
  background-color: #000000;
  text-align: left;
}

#bar a {
  color: #FFFFFF;
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
}

#bar a:hover {
  background-color: #FFFFFF;
  color: #000000;
}
