#title {
  background-color: #00FFFF;
  font-family: Arial;
  text-align: center;
}

#bar a {
  background-color: #000000;
  color: #FFFFFF;
  text-align: left;
}

#bar a: hover {
  background-color: #FFFFFF;
  color: #000000;
}
